*{
    margin: 0;
    padding: 0;

    font-family: century gothic;
}

body{
    background-color: steelblue;
}

/*Initial buttons for starting games*/
.main-btn-container{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.main-btn-container button{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(55, 55, 55, 0.7);
    color: aliceblue;
    font-size: 50px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 17px 18px 18px -8px black;
}

.main-btn-container button:hover{
    transform: scale(1.2, 1.3);
    transition: transform 0.8s ease;
}

.msg{
    margin-top: 40px;
    text-align: center;
}
/*_____________________________________________________________________________*/

/*Board Styling*/
.main-brd-container{
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-brd{

}

.msg-area{
    height: 580px;
    width: 200px;
    margin-left: 20px;
    overflow: auto;
}

.msg-area h3{
    margin-bottom: 30px;
}

.brd-table{
    height: 500px;
    width: 500px;
}

.controller{
    height: 80px;
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.controller button{
    cursor: pointer;
    padding: 8px 18px;
    font-size: 25px;
    border-radius: 14px;
    background-color: black;
    color: white;
}

.msg-area{
    border: 2px solid black;
}

.msg-area h3{
    text-align: center;
}

.brd-table table{
    border-collapse: collapse;
}

.brd-table td{
    height: 166.66px;
    width: 166.66px;
    border: 2px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 130px;
}
/*_____________________________________________________________________________*/

.again{
    display: none;
}

.choose{
    display: none;
}

.choose button{
    margin-left: 25px;
}